openapi: 3.1.0
info:
  title: HamoonCloud Reseller API
  version: 1.1.0
  description: Backend API for HamoonCloud reseller integrations.
servers:
  - url: https://pay.hamooncloud.ir/api/v1
security:
  - bearerAuth: []
paths:
  /me:
    get:
      summary: Get reseller account
      responses:
        '200': { description: Reseller account and limits }
        '401': { $ref: '#/components/responses/AuthError' }
  /wallet:
    get:
      summary: Get wallet balance
      responses:
        '200': { description: Current wallet balance }
        '401': { $ref: '#/components/responses/AuthError' }
  /usage:
    get:
      summary: Get API/account usage summary
      responses:
        '200': { description: Usage summary }
  /prices:
    get:
      summary: List current sellable plans and reseller prices
      responses:
        '200': { description: Sellable plans }
  /servers:
    get:
      summary: List reseller servers
      responses:
        '200': { description: Server list }
    post:
      summary: Create a server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateServerRequest'
      responses:
        '202': { description: Provisioning started }
        '400': { $ref: '#/components/responses/ApiError' }
        '402': { $ref: '#/components/responses/ApiError' }
        '403': { $ref: '#/components/responses/ApiError' }
        '409': { $ref: '#/components/responses/ApiError' }
        '429': { $ref: '#/components/responses/ApiError' }
  /servers/{id}:
    parameters:
      - $ref: '#/components/parameters/ServerId'
    get:
      summary: Get one reseller server
      responses:
        '200': { description: Purchase record and current provider details }
        '404': { $ref: '#/components/responses/ApiError' }
    delete:
      summary: Permanently delete a server
      responses:
        '200': { description: Server deleted }
        '404': { $ref: '#/components/responses/ApiError' }
        '409': { $ref: '#/components/responses/ApiError' }
  /servers/{id}/name:
    parameters:
      - $ref: '#/components/parameters/ServerId'
    patch:
      summary: Set or clear HamoonCloud server display name
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 64 }
      responses:
        '200': { description: Display name updated or cleared }
        '400': { $ref: '#/components/responses/ApiError' }
        '404': { $ref: '#/components/responses/ApiError' }
  /servers/{id}/reset-password:
    parameters:
      - $ref: '#/components/parameters/ServerId'
    post:
      summary: Reset server root password
      responses:
        '200': { description: Password reset; root_password is returned once }
        '404': { $ref: '#/components/responses/ApiError' }
        '409': { $ref: '#/components/responses/ApiError' }
        '502': { $ref: '#/components/responses/ApiError' }
  /servers/{id}/snapshots:
    parameters:
      - $ref: '#/components/parameters/ServerId'
    get:
      summary: List snapshots created from this server
      responses:
        '200': { description: Snapshot list }
        '404': { $ref: '#/components/responses/ApiError' }
    post:
      summary: Create a snapshot
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description: { type: string, maxLength: 255 }
      responses:
        '202': { description: Snapshot creation started }
        '404': { $ref: '#/components/responses/ApiError' }
        '409': { $ref: '#/components/responses/ApiError' }
  /servers/{id}/rebuild:
    parameters:
      - $ref: '#/components/parameters/ServerId'
    post:
      summary: Rebuild server with an allowed image
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [image]
              properties:
                image: { type: string }
      responses:
        '202': { description: Rebuild started }
        '400': { $ref: '#/components/responses/ApiError' }
        '403': { $ref: '#/components/responses/ApiError' }
        '404': { $ref: '#/components/responses/ApiError' }
        '409': { $ref: '#/components/responses/ApiError' }
  /servers/{id}/traffic:
    parameters:
      - $ref: '#/components/parameters/ServerId'
    get:
      summary: Get current Hetzner traffic counters in bytes
      responses:
        '200': { description: Incoming, outgoing, used, included, remaining and overage traffic counters }
        '404': { $ref: '#/components/responses/ApiError' }
  /servers/{id}/poweron:
    parameters:
      - $ref: '#/components/parameters/ServerId'
    post:
      summary: Power on / resume server
      responses:
        '200': { description: Server active }
        '404': { $ref: '#/components/responses/ApiError' }
  /servers/{id}/poweroff:
    parameters:
      - $ref: '#/components/parameters/ServerId'
    post:
      summary: Power off / suspend server
      responses:
        '200': { description: Server stopped }
        '404': { $ref: '#/components/responses/ApiError' }
  /servers/{id}/additional-ips:
    parameters:
      - $ref: '#/components/parameters/ServerId'
    get:
      summary: List additional Hetzner Floating IPv4 addresses
      responses:
        '200': { description: Additional IPv4 list }
        '404': { $ref: '#/components/responses/ApiError' }
    post:
      summary: Create and assign an additional Floating IPv4
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description: { type: string, maxLength: 100 }
      responses:
        '201': { description: Additional IPv4 created; guest OS configuration is still required }
        '404': { $ref: '#/components/responses/ApiError' }
        '409': { $ref: '#/components/responses/ApiError' }
        '502': { $ref: '#/components/responses/ApiError' }
  /servers/{id}/additional-ips/{floatingIpId}:
    parameters:
      - $ref: '#/components/parameters/ServerId'
      - name: floatingIpId
        in: path
        required: true
        schema: { type: string }
    delete:
      summary: Delete an additional Floating IPv4 belonging to this server
      responses:
        '200': { description: Additional IPv4 deleted }
        '404': { $ref: '#/components/responses/ApiError' }
        '409': { $ref: '#/components/responses/ApiError' }
  /servers/{id}/change-ip:
    parameters:
      - $ref: '#/components/parameters/ServerId'
    post:
      summary: Replace the current Hetzner Primary IPv4
      responses:
        '200': { description: IP changed; response includes old_ip and new_ip }
        '404': { $ref: '#/components/responses/ApiError' }
        '409': { $ref: '#/components/responses/ApiError' }
        '502': { $ref: '#/components/responses/ApiError' }
        '504': { $ref: '#/components/responses/ApiError' }
  /servers/{id}/upgrade:
    parameters:
      - $ref: '#/components/parameters/ServerId'
    post:
      summary: Upgrade / resize server type
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [target_server_type]
              properties:
                target_server_type: { type: string }
                upgrade_disk: { type: boolean, default: false }
      responses:
        '200': { description: Server upgraded }
        '400': { $ref: '#/components/responses/ApiError' }
        '403': { $ref: '#/components/responses/ApiError' }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: hm_live_...
  parameters:
    ServerId:
      name: id
      in: path
      required: true
      schema: { type: string }
  schemas:
    CreateServerRequest:
      type: object
      required: [server_type]
      properties:
        server_type:
          type: string
          description: Plan ID/type returned by GET /prices.
        name: { type: string, maxLength: 63 }
        image: { type: string, default: ubuntu-24.04 }
        location: { type: string }
        duration:
          type: string
          enum: [hourly, monthly]
          default: hourly
        datacenter:
          type: string
          default: hetzner
        ssh_key:
          type: string
          maxLength: 4096
    ErrorEnvelope:
      type: object
      properties:
        ok: { type: boolean, const: false }
        error:
          type: object
          properties:
            code: { type: string }
            message: { type: string }
            details: { type: object, additionalProperties: true }
          required: [code, message]
      required: [ok, error]
  responses:
    AuthError:
      description: Missing or invalid API key
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorEnvelope' }
    ApiError:
      description: API error
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorEnvelope' }
